.page-wrapper{
  display: flex;
  justify-content: space-between;
  height: 95vh;
  overflow: hidden;
}

.file-display-wrapper{
  width: 77%;
  background-color: dimgray;
  overflow-y: scroll;
  border-radius: 10px;
}

.sidebar {
  width: 17%;
  background-color: dimgray;
  border-radius: 10px;

  .logo-container {
    img {
      width: 100%;
    }
    margin-bottom: 10px;
  }

  .button-container {
    height: 65%;
  }

  .stat-container {
    height: 10%;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;

    span{
      margin: 7px;
    }
  }

  .sidebar-button {
    width: 100%;
    height: 60px;
    font-size: 20px;
    background-color: gray;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .sidebar-button-pressed {
    width: 100%;
    height: 60px;
    font-size: 20px;
    background-color: darkgray;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .sidebar-icon {
    font-size: 25px;
  }
}

.grid {
  display: grid;
  grid-gap: 1rem;
}

.grid-cell {
  padding: 1rem;
  height: 12rem;
  width: 12rem;
  text-align: center;
  cursor: pointer;
  border: 2px inset darkgray;

  .preview {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
  }

  .image-preview {
    margin: auto 0;
    border-radius: 4px;
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
    overflow: hidden;
  }

  .document-preview {
    margin: auto 0;
    border-radius: 4px;
    width: 100%;
    pointer-events: none;
    overflow: hidden;
  }

  .file-name {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-width: 0;
    margin-top: 5px;
    color: white;

    span {
      max-width: 90%;
      max-height: 100%;
      overflow-wrap: break-word;
      overflow: hidden;
    }
  }
}

.absolute {
  position: absolute;
}

.hidden {
  display: none;
}

.menu {
  background-color: white;
  padding: 0;
  width: 150px;

  .menu-item {
    width: 130px;
    padding: 10px;
  }

  .menu-item:hover{
    background-color: lightgrey;
    cursor: pointer;
  }
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: white !important;
}

::ng-deep .mat-form-field-underline {
  /*change color of underline*/
  background-color: white !important;
}

::ng-deep .mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: white !important;;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .search-bar {
    width: 48%;
    color: white;
    font-size: 20px;

    mat-icon {
      height: 100%;
    }

    input {
      height: 100%;
      position: relative;
      font-size: 30px;
    }
  }

  .header-button {
    width: 16%;
    height: 50%;
    margin-bottom: 2%;
    font-size: 20px;
    color: white;
    border-color: white;
    text-align: center;

    ::ng-deep div.mat-select-arrow-wrapper {
      display: none;
    }

    ::ng-deep .mat-select {
      display: inline;
    }
  }
}

@media (min-width: 200px) {
  .grid { grid-template-columns: repeat(1, 1fr); }
}

@media (min-width: 652px) {
  .grid { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 941px) {
  .grid { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1254px) {
  .grid { grid-template-columns: repeat(4, 1fr); }
}

@media (min-width: 1565px) {
  .grid { grid-template-columns: repeat(5, 1fr); }
}

.spinner-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-spinner {
  position: absolute;
  height:60px;
  width:60px;
  margin:0 auto !important;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left:6px solid rgba(0,174,239,.15);
  border-right:6px solid rgba(0,174,239,.15);
  border-bottom:6px solid rgba(0,174,239,.15);
  border-top:6px solid rgba(0,174,239,.8);
  border-radius:100%;
  pointer-events: none;
  cursor: not-allowed;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}
